Baixar
#rm -rf node_modules package-lock.json
#npm install
#npm install lucide-react-native

Ao exportar as imagens do assets, não funcionou então eu coloquei os links. Todas as imagens estão na pasta.